<% @stations.stations.each do |station| %>
  <div class="station">
    <p class="name"> Name: <%= station.name %> </p>
    <p class="address"> Address: <%= station.address %> </p>
    <p class="fuel_types"> Fuel Types: <%= station.fuel_types %> </p>
    <p class="distance"> Distance(mi): <%= station.distance %> </p>
    <p class="access_times"> Access Times: <%= station.access_times %> </p>
  </div>
  <br>
<% end %>
